/* ===========================
   B-SYNC - IDENTIDADE VISUAL
=========================== */

:root {
    --primary: #5A3E85;
    --secondary: #D85A62;
    --background: #F7F5FA;
    --white: #FFFFFF;
    --text: #2F2F2F;
    --text-light: #6B6B6B;
    --border: #E6E2ED;
    --shadow: rgba(0, 0, 0, 0.08);

    --radius: 18px;
    --transition: .3s;
}

body{
    background: var(--background);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Playfair Display', serif;
    color: var(--primary);
}